{% load static %}
<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>
      {% if user.is_authenticated %}

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 text-white" onclick="exibirHome()">Home</a></li>
        <li><a href="{% url 'dashboard' %}" class="nav-link px-2 text-white" onclick="displayDashboard()">Dashboard</a></li>
        <li><a href="{% url 'my_data' %}" class="nav-link px-2 text-white" onclick="displayProducts()">My Data</a></li>
        <li><a href="{% url 'my_product' %}" class="nav-link px-2 text-white" onclick="displayProducts()">My Products</a></li>
        <li><a href="{% url 'insert_product' %}" class="nav-link px-2 text-white" onclick="exibirInsertProduct()">Insert Products</a></li>
      </ul>

      <form action="{% url 'search' %}" class="form-inline my-2 my-lg-0">
        <input type="search" name="search" class="form-control form-control-dark" placeholder="Search...">
      </form>

      <div class="text-end">
        <a href="{% url 'logout' %}" type="button" class="btn btn-outline-transparent text-white text-capitalize">
          Logout
        </a>
      </div>
      {% else %}
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 text-white" onclick="exibirHome()">Home</a></li>
        <li><a href="{% url 'register' %}" class="nav-link px-2 text-white" onclick="exibirRegister()">Register</a></li>
      </ul>

      <form action="{% url 'search' %}" class="form-inline my-2 my-lg-0">
        <input type="search" name="search" class="form-control form-control-dark" placeholder="Search...">
      </form>

      <div class="text-end">
        <a href="{% url 'login' %}" type="button" class="btn btn-outline-transparent me-2 text-white text-capitalize">Login</a>
      </div>
      {% endif %}
    </div>
  </div>
</header>
<div class="b-example-divider"></div>
<br><br>

