{% extends 'base.html' %} 
{% load static %} 
{% block content %}
{% include 'partials/_menu.html' %} 

<!-- ##### Best Receipe Area Start ##### -->
<section class="best-receipe-area">
  <div class="container">
    <div class="row">
      {% if products %}
      {% for product in products %}
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-best-receipe-area mb-30">
            <img src="{% static 'img/product/product-icon.png' %}" width="400" height="150" alt="">
            <div class="receipe-content">
              <a href="{% url 'product' product.id %}">
                  <h5>{{ product.product_name }}</h5>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
      {% else %}
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
