{% extends 'base.html' %} {% load static %} {% block content %}
{% include 'partials/_menu.html' %} 

<!-- ##### Best Receipe Area Start ##### -->
<section class="best-receipe-area">
  <div class="container">
    <div class="row">
      <br>
      <table class="table table-bordered table-primary ">
        <thead class="thead-dark text-uppercase">
          <tr class="rounded text-center">
            <th scope="col">Name</th>
            <th scope="col">Segment</th>
            <th scope="col"> Store name</th>
            <th scope="col"> Address</th>
            <th scope="col">Payment method</th>
          </tr>
        </thead>
        <tbody>
          <tr class="align-middle text-center">
            <th scope="row" class="align-middle">
              Guilherme Moreira
            </th>
            <th scope="row" class="align-middle">
              Tecnologia
            </th>
            <th class="align-middle" scope="row">
              VilelaTech
            </th>
            <th class="align-middle" scope="row">
              Avenida Paulista, 1000
            </th>
            <th class="align-middle" scope="row">Cartão</th>
          </tr>
          <tr class="align-middle text-center">
            <th scope="row" class="align-middle">
              Ana Felicio
            </th>
            <th scope="row" class="align-middle">
              Artesanato/Bordado
            </th>
            <th class="align-middle" scope="row">
              Pense Bordado
            </th>
            <th class="align-middle" scope="row">
              Avenida Paulista, 2000
            </th>
            <th class="align-middle" scope="row">Dinheiro/Cartão</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}
