{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_menu.html' %}

<div class="row">
  <div class="container">
      <div class="">
          <div class="col-12">
              <div class="section-heading">
                <div class="col-12 shadow-lg p-3 mb-5 bg-white border rounded">
                  <h3>Dear, {{ user.first_name }} {{ user.last_name }}</h3>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>

<section class="row">
<div class="container ">
    <div class=" col-12">
        {% if product %}
        <div class="shadow-lg p-3 mb-5 bg-white border border-white rounded">
            <div class="single-best-receipe-area mb-30">
              <a href="#">
                <ul class="list-unstyled">
                  <li class="media">
                    <img class="img-rounded img-thumbnail border border-white" src="{{ product.image_one.url }}" width="205"  alt="">&nbsp;
                    <div class="media-body">
                      <h5 class="mt-0 mb-1 text-center"><strong>{{ product.product_name }}</strong></h5>
                      <div class="card text text-body">
                        <div class="card-body text text-body">
                          <small class="text text-justify text-body font-italic">
                            DESCRIPTION -->> {{ product.description }}
                          </small><br><br>
                          <footer class="blockquote-footer text text-body text-uppercase">Created by <cite title="Título da fonte">{{ user.last_name }}, {{ user.first_name }}</cite></footer>
                        </div>
                      </div><br>
                      <div class="col-12 col-sm-12 col-lg-12 d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{% url 'product_question' product.id %}" class="btn btn-outline-success btn-block border border-transparent">Product questions that have not yet been answered - "{{ product.product_name }}" 
                            {% if product.questions_no_answer.count >= 1 %}                       
                             <i class="fa fa-comment bg-blue" style='font-size:20px;'>
                                  ({{ product.questions_no_answer.count }})
                            </i>
                            {% endif %}
                        </a>
                        
                      </div>
                      
                    </div>
                  </li>
                </ul>
                <br>
              </a>
            </div>
          </div>
        {% endif %}
    </div>
    </div>
</section>
<br>
{% include 'partials/_footer.html' %}
{% endblock %}