{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_menu.html' %} 
 
<!-- ##### Contact Form Area Start ##### -->
<div class="section-padding-0-80">
   <div class="container">
       <div class="row">
           <div class="col-13">
               <br>
               <div class="jumbotron bg-primary text-white">
                <h1 class="display-4 text-white">Editing a product into your account, {{ product.product_name }}.<br>
                    Which you want to exchange or sell.</h1>
                <p class="lead text-white text-center">Your digital and personalized HOLDHAND store.<br> 
                    Here you will find several embroidery options. Feel free to contact us!.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <div class="contact-form-area">
                    <form action="#" class="was-validated needs-validation" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                       <div class="row">

                            <div class="col-12 col-lg-12 shadow-lg p-3 mb-5 bg-white border rounded">
                               <label for="product_name">
                                   <strong>Product name</strong>
                                </label>
                                <i class="fa fa-exclamation-circle trailing"></i>
                                {{ form.product_name }}
                            </div>

                            <div class="col-6 col-lg-12">
                                <input type="hidden" id="slug" 
                                 class="form-control border border-dark rounded" 
                                 name="slug" placeholder="products name" required
                                >
                             </div>

                            <div class="col-6 shadow-lg p-3 mb-5 bg-white rounded">
                               <label for="segment">
                                   <strong>Segment</strong>
                                </label>
                                <i class="fa fa-exclamation-circle trailing"></i>
                                {{ form.segment }}
                            </div>

                            <div class="col-6 shadow-lg p-3 mb-5 bg-white rounded">
                               <label for="store_name">
                                   <strong>Store name</strong>
                                </label>
                                <i class="fa fa-exclamation-circle trailing"></i>
                                {{ form.store_name }}
                            </div>

                            <div class="col-12 shadow-lg p-3 mb-5 bg-white border was-validated rounded">
                                <label for="payment_method">
                                    <strong>Payment method's</strong>
                                </label>&nbsp;
                                <a href="#" data-toggle="tooltip" title="Select the payment method you want or if the product will be exchanged">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                </a>
                                {{ form.payment_method }}
                            </div>

                            <div class="col-12 col-lg-12 shadow-lg p-3 mb-5 bg-white border rounded">
                               <label for="description"><strong>Description</strong></label>
                               <i class="fa fa-exclamation-circle trailing"></i>
                               {{ form.description }}
                            </div>

                            <div class="col-12 col-lg-6 shadow-lg p-3 mb-5 bg-white border rounded">
                                <label for="image_one"><strong>Image One</strong></label> 
                                <i class="fa fa-exclamation-circle trailing"></i>
                                {{ form.image_one }}
                            </div>

                            <div class="col-12 col-lg-3 shadow-lg p-3 mb-5 bg-white border rounded">
                                <label for="image_two"><strong>Image Two</strong></label> 
                                <i class="fa fa-exclamation-circle trailing"></i>
                                {{ form.image_two }}
                            </div>

                            <div class="col-12 col-lg-3 shadow-lg p-3 mb-5 bg-white border rounded">
                                <label for="image_three"><strong>Image Three</strong></label> 
                                <i class="fa fa-exclamation-circle trailing"></i>
                                {{ form.image_three }}
                            </div>

                            <div class="col-12 shadow-lg p-3 mb-5 bg-white border rounded">
                                <button type="submit" class="btn btn-primary btn-block">
                                    edit a product
                                </button>
                            </div>

                       </div>
                   </form>
               </div>
           </div>
       </div>
   </div>
</div>
{% endblock %}