{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_menu.html' %}

<section class="section-content">
    <div class="container">
        <div class="d-flex align-items-center bg-transparent bg-gradient">
            <div class="lh-1">
                Answering product questions:: {{ product.product_name }}
            </div>
        </div>
        <br>

        <a href="{% url 'product_question' product.id %}">
            <button type="submit" class="btn btn-outline-danger border border-transparent btn-block">Come back</button>
        </a>
        <br><br>

        <div class="panel panel-default shadow-lg p-3 mb-5 bg-white border rounded">
            <div class="panel-heading text-dark">
                Client - <strong>@{{ question.user.first_name }} {{ question.user.last_name }}</strong><br><br>
                Question asked in the product: <strong>{{ question.question }}</strong>
            </div>
            <div class="panel-body">
                <form class="questions-form" action="" method="post">
                    {% csrf_token %}
                    <div class="panel-heading text-dark">
                        <h4>Answer</h4>
                        {{ form.answer }}
                        <br>
                        <button type="submit" class="btn btn-outline-info border border-transparent btn-block">Reply</button>
                </div>
                </form>
                <br>
            </div>
        </div>
    </div>
</section>
{% include 'partials/_footer.html' %}
{% endblock %}