{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_menu.html' %}

<div class="row">
  <div class="container">
      <div class="">
          <div class="col-12">
              <div class="section-heading">
                <div class="col-12 shadow-lg p-3 mb-5 bg-white border rounded">
                  <h1 class="text-center">{{product.product_name}}</h1>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Receipe Slider -->
<div class="">
  <div class="container">
    <div class="col-12 col-sm-12 col-lg-12">
      <div class="single-best-receipe-area mb-30 col-12 shadow-lg p-3 mb-5 bg-white border rounded">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner text-center">
            <div class="carousel-item active">
              <img src="{{ product.image_one.url }}" class="img-fluid" alt="Responsive image">
            </div>
            <div class="carousel-item">
              <img src="{{ product.image_two.url }}" class="img-fluid" alt="Responsive image">
            </div>
            <div class="carousel-item">
              <img src="{{ product.image_three.url }}" class="img-fluid" alt="Responsive image">
            </div><br><br>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <strong class="carousel-control-prev-icon text-dark" aria-hidden="true">
              <i class='fa fa-chevron-left' style='font-size:48px'></i>
            </strong>
            <span class="sr-only text-dark">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <strong class="carousel-control-next-icon" aria-hidden="true">
              <i class='fa fa-chevron-right' style='font-size:48px;color:black'></i>
            </strong>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!-- Receipe Content Area -->
<div class="row ">
  <div class="container">
    <div class="col-12">
      <div class="single-best-receipe-area mb-30">
        <div class="card text-center">
          <div class="card-header text-white bg-info bg-gradient">
            Product - <strong>"{{product.product_name}}"</strong>
          </div>
          <div class="card-body">
            <h5 class="card-title">Segment product {{product.segment}} | Store name {{product.store_name}}</h5>
            <p class="card-text">Payment method at product {{product.payment_method}} | Price at product {{product.price}}.</p>
            <p class="card-text">All information is for the product {{ product.product_name }}.
              The description is just below, if you have any questions you could write a comment or chat by WhatsApp with the seller, is this good?.</p>
            <a type="button" href="https://api.whatsapp.com/send?1=pt_BR&phone=55{{product.profile.cell_phone}}&text=Hi, 
                  {{ product.username.first_name }} {{ product.username.last_name }}, gostaria de ter mais detalhes em relação ao produto {{ product.product_name }}. 
                  My name is {{ user.first_name }} {{ user.last_name }}"
            target="_blank"
            class="btn btn-outline-success border border-transparent">
              WhatsApp Seller <i class="fa fa-eye" aria-hidden="true"></i>
            </a>
          </div>
          <div class="card-footer text-white bg-info bg-gradient">
            Insert at {{product.date_product}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="container">
    <div class="col-12 col-sm-12 col-lg-12">
        <form action="{% url 'shopping_cart' %}" method="POST">
          {% csrf_token %}
          <div class="text-center">
          <input
                class="form-control form-control-sm border border-dark"
                name="quantity"
                id="quantity"
                type="number"
                placeholder="Select the desired quantity"
              />
              <br>
          <button class="btn btn-outline-primary border border-transparent btn-block" type="submit">
            <input type="hidden" id="product" name="product" value="{{ product.id }}"/>
            Buy product
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<br><br>

<div class="">
  <div class="container">
    <div class="col-12 col-sm-12 col-lg-12">
      <div class="single-best-receipe-area mb-30 col-12 shadow-lg p-3 mb-5 bg-white border border-transparent rounded">
        <a href="#">
          <ul class="list-unstyled">
            <li class="media">
              <img class="img-rounded img-thumbnail border border-white" src="{{ product.image_one.url }}" width="205"  alt="">&nbsp;
              <div class="media-body">
                <div class="card text text-body">
                  <div class="card-body text text-body ">
                    <small class="text text-justify text-body font-italic">
                      DESCRIPTION -->> {{ product.description }}
                    </small><br><br>
                    <footer class="blockquote-footer text text-body text-uppercase">
                      Created by 
                      <cite title="Título da fonte">
                        {{ product.username.first_name }} {{ product.username.last_name }}
                      </cite>
                    </footer>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <br>
        </a>
      </div>
    </div>
  </div>
</div>

<section class="section-questions-market-place-content">
  <div class="container">
      <section class="section-questions-market-place-content">
        <div class="">
          <div class="col-12 col-sm-12 col-lg-12">
            <div class="single-best-receipe-area mb-30 col-12 shadow-lg p-3 mb-5 bg-white border rounded">
        {% if request.user.is_authenticated%}
            <form class="questions-form " action="{% url 'product_new_question' product.id %}" method="post">
                {% csrf_token %}
                <div>
                  
                </div>
                <div class="col-12">
                  <h4 class="col-12">
                    Questions to the seller
                  </h4>
                  <div class="col-12">
                    {{ form.question }}
                  </div>
                  <br>
                  <div class=" col-12">
                    <button type="submit" class="btn btn-outline-info border border-transparent rounded btn-block">
                      To ask
                    </button>
                </div>
                </div>
                
            </form>
        {% endif %}
        <br>
        <section class="section-questions-market-place-content">
          <ul class="ml-questions-list single-best-receipe-area mb-20">
              {% for q in questions %}
                <li>
                  <div class="row col-12">
                    <article class="ml-questions-list-question">
                        <p><i class="fa fa-user" style="color: black;"> </i> <span class="text-dark">Client - </span> <strong class="text-body">{{ q.user.first_name }} {{ q.user.last_name }}</strong><br>
                          <i class="fa fa-comment" style="color: black;"></i> <strong class="text-body">Question - </strong> <strong class="text-muted text-center">{{ q.question }}</strong></small>
                        </p>
                    </article>
                    <article class="ml-questions-list-answer">
                      {% for a in q.get_answers %}
                          <p class="text-justify">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-user" style="color: Dodgerblue;"></i><span class="text-dark"> Seller - </span> <strong class="text-primary">{{ product.username.first_name }} {{ product.username.last_name }}</strong><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-comment" style="color: Dodgerblue;"></i> <strong style="color: Dodgerblue;"> Answer - </strong> <strong class="text-muted text-center ">{{ a.answer }}</strong>
                          </p>
                          <hr>
                      {% endfor %}
                    </article>
                </div>
                </li>
              {% endfor %}
          </ul>
        </section>

          <!-- ##### Pagination ##### -->
          <section class="top-catagory-area section-padding-20-0" style="color: black;">
            <div class="container">
                {% if questions.has_other_pages %}
                <ul class="pagination justify-content-center" style="color: black;">
                {% if questions.has_previous %}
                <li class="page-item" style="color: black;">
                    <a href="?page={{ questions.previous_page_number }}" class="page-link"
                    >&laquo;</a
                    >
                </li>
                {% else %}
                <li class="page-item disabled" style="color: black;">
                    <a class="page-link" style="color: black;">&laquo;</a>
                </li>
                {% endif %} {% for pagina in questions.paginator.page_range %} 
                {% if questions.number == pagina %}
                <li class="page-item active" style="color: black;">
                    <a class="page-link" style="color: black;">{{ pagina }}</a>
                </li>
                {% else %}
                <li class="page-item" style="color: black;">
                    <a
                    href="?page={{ pagina }}"
                    class="page-link btn btn-outline-dark"
                    style="color: black;"
                    >{{ pagina }}</a
                    >
                </li>
                {% endif %} {% endfor %} {% if questions.has_next %}
                <li class="page-item" style="color: black;">
                    <a
                    href="?page={{ questions.next_page_number }}"
                    style="color: black;"
                    class="page-link btn btn-outline-dark"
                    >&raquo;</a
                    >
                </li>
                {% else %}
                <li class="page-item disabled" style="color: black;">
                    <a class="page-link" style="color: black;">&raquo;</a>
                </li>
                {% endif %}
                </ul>
                {% endif %}
            </div>
            </section>
            <!-- ##### Pagination End ##### -->
            </div>
            </div>
        </div>
      </section>
  </div>
</section>
{% include 'partials/_footer.html' %}
{% endblock %}