{% extends 'base.html' %} {% load static %} {% block content %} {% include 'partials/_menu.html' %} {% autoescape off %}

<div class="contact-area section-padding-0">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="alert alert-dark text-dark text-center border border-dark" role="alert">
                    <h4 class="text-center">Dear HOLDHAND LTDA user
                        <i class="fa fa-registered" aria-hidden="true"></i></h4>

                    <p style="color:black">We email instructions for resetting your password, if an account exists with the email you entered. You should receive it soon.
                    </p>

                    <hr />

                    <p class="mb-0" style="color:black">
                        If you do not receive an email, be sure to enter the address you registered with and check your spam folder.
                    </p>

                    <p class="mb-0" style="color:black">
                        If you have checked your e-mail and your spam box and have not received the e-mail for password reset, please contact us via WhatsApp or E-mail to reset your password.
                    </p>

                    <p class="m-auto p-2">
                        <a href="{% url 'two_factor:login' %}">
                            <button class="alert-link btn btn-link btn-block" type="submit">
								Return to the login page
							</button>
                        </a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<br><br> {% include 'partials/_footer.html' %} {% endautoescape %} {% endblock %}