{% extends 'base.html' %} {% load static %} {% block content %} {% include 'partials/_menu.html' %}
<div class="contact-area section-padding-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-white text-dark text-center border border-transparent" role="alert">
                    <h4 class="alert-heading">Reset your password on the HOLDHAND LTDA website
                        <i class="fa fa-registered" aria-hidden="true"></i></h4>

                    <p style="color:black">Your digital and personalized HOLDHAND store. Here you will find shirts, pants, blouses, accessories, caps and key chains. Feel free to contact us!
                    </p>

                    <hr />

                    <p class="mb-0" style="color:black">The following field is mandatory to reset your password on the HOLDHAND website
                        <i class="fa fa-paw" aria-hidden="true"></i></p>
                </div>

                {% include 'partials/_alertas.html' %}
                <div class="contact-form-area">
                    <form method="POST" class="was-validated" name="form">{% csrf_token %}
                        <h1 class="h3 mb-3 font-weight-normal text-center">Redefine password</h1>

                        <div class="row">

                            <div class="col-12 col-lg-12">
                                <input name="email" class="form-control border border-dark rounded" placeholder="Type your e-mail" type="email" id="id_email" required="true">
                            </div>

                            <br><br>

                            <div class="col-12 col-lg-12"><br>
                                <button class="btn btn-lg btn btn-outline-dark border border-dark btn-block" type="submit">Send reset email</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<script>
    $("div.required input").each(function() {
        var $this = $(this);
        if ($this.val().length === 0) {
            //field is empty; show error
        }
    });
</script>
{% include 'partials/_footer.html' %} {% endblock %}