{% extends 'base.html' %}

{% block content %}
<br><br><br><br><br><br>
<section class="">
  <div class="container">
    <div class="row">
      <div class="single-best-receipe-area mb-30 col-12 shadow-lg p-3 mb-5 bg-white border rounded">
        <h3>Forgot password</h3>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button
                  class="btn btn-primary border border-dark rounded btn-block"
                  type="submit"
                >
                  Submit<i class="fa fa-upload" aria-hidden="true"></i>
                </button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}