{% extends 'base.html' %} {% load static %} {% block content %} {% include 'partials/_menu.html' %}

<div class="contact-area section-padding-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-white text-dark text-center border border-transparent" role="alert">
                    <h4 class="text-center">Dear HOLDHAND LTDA user
                        <i class="fa fa-registered" aria-hidden="true"></i></h4>
                    <hr>
                    <br><br><br>
                    <p style="color:black">Your password has been successfully reset on the system. Now you can go ahead and log in.</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br> {% include 'partials/_footer.html' %} {% endblock %}