{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
  <br><br><br><br><br><br>
  <section class="">
    <div class="container">
      <div class="row">
        <div class="single-best-receipe-area mb-30 col-12 shadow-lg p-3 mb-5 bg-white border rounded text-justify">
          <h3>Change password</h3>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button
              class="btn btn-primary border border-dark rounded btn-block"
              type="submit"
            >
              Change password<i class="fa fa-upload" aria-hidden="true"></i>
            </button>
          </form>
        {% else %}
          <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
          </p>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
{% endblock %}