{% extends 'base.html' %} 
{% load static %} 
{% block content %}
{% include 'partials/_menu.html' %} 

<!-- ##### Contact Form Area Start ##### -->
<br>
<div class="contact-area section-padding-0">
  <div class="container">
    <div class="row">
      <div class="col-12 shadow-lg p-3 mb-5 bg-white">
        <!--alert-->
        <div class="alert alert-primary text-center border border-dark text-uppercase" role="alert">
          <h4 class="alert-heading">
            Create your account on the HoldHand website
            <i class="fa fa-registered" aria-hidden="true"></i>
          </h4>
          <p class="alert-heading">
            Your digital and personalized HOLDHAND store. 
            Here you will find several embroidery options. Feel free to contact us!
          </p>
          <hr/>
          <p class="alert-heading">
            All the following data will be mandatory to register
            on the HOLDHAND website
          </p>
        </div>

        {% include 'partials/_alertas.html' %}
        <!--Form insert user-->
        <div class="contact-form-area">
          <form
            action="#"
            method="POST"
            data-toggle="validator"
            role="form"
            class="was-validated"
          >
            {% csrf_token %}

            <div class="col-12 shadow-lg p-3 mb-5 bg-white border rounded">
              <h4 class="text-center">Personal data</h4>
            </div>

            <div class="form-group form-row">
              <div class="md-form col-12 col-lg-12 shadow-lg p-3 mb-5 bg-white ls-prefix-group">
                <label for="username">
                  <strong>User <i class="fa fa-user-plus" aria-hidden="true"></i></strong><br>
                  <small>Your user is required to fill out the form, and it must contain between five (5) and thirty (30) characters.</small>
                </label>
                <input
                  type="text"
                  class="form-control border border-dark rounded contador caracteres"
                  name="username"
                  id="username"
                  placeholder="username"
                  title="Your user is required to fill out the form, and it must contain between five (5) and thirty (30) characters."
                  maxlength="30"
                  minlength="5"
                  onkeydown="contaCaracteresUsuario(this)"
                  onkeyup="contaCaracteresUsuario(this)"
                  onclick="contaCaracteresUsuario(this)"
                  style="color: rgba(0, 0, 0, 0.849);"
                  required
                />
                <div>
                  <strong
                    ><p style="color: black;" id="divmag">
                      30 characters remaining
                    </p></strong
                  >
                </div>
              </div>

              

              <div class="col-12 shadow-lg p-3 mb-5 bg-white col-lg-6">
                <label for="name">
                  <strong>Name <i class="fa fa-user-plus" aria-hidden="true"></i></strong>
                </label>
                <input
                  type="text"
                  class="form-control border border-dark rounded"
                  name="name"
                  id="name"
                  data-ls-module="charCounter"
                  maxlength="30"
                  placeholder="name"
                  title="Your name is required to fill in the form."
                  required
                />
              </div>

              <div class="col-12 shadow-lg p-3 mb-5 bg-white col-lg-6">
                <label for="surname">
                  <strong>Surname
                    <i class="fa fa-user-plus" aria-hidden="true"></i></strong>
                </label>
                <input
                  type="text"
                  class="form-control border border-dark rounded"
                  name="surname"
                  id="surname"
                  placeholder="surname"
                  title="Your last name is mandatory to fill out the form."
                  required
                />
              </div>

              <div class="col-12 shadow-lg p-3 mb-5 bg-white col-lg-6">
                <label for="email">
                  <strong>E-mail
                    <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
                  </strong>
                </label>
                <input
                  type="email"
                  class="form-control border border-dark rounded"
                  name="email"
                  id="email"
                  maxlength="80"
                  placeholder="e-mail"
                  title="Your email must contain a name before the '@', and after the '@' it must contain a domain."
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  required
                />
              </div>

              <div class="col-12 shadow-lg p-3 mb-5 bg-white col-lg-6">
                <label for="email2">
                  <strong>E-mail confirmation
                    <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
                  </strong>
                </label>
                <input
                  type="email"
                  class="form-control border border-dark rounded"
                  name="email2"
                  id="email2"
                  maxlength="80"
                  placeholder="e-mail confirmation"
                  title="Your confirmation email must contain a name before the '@', and after the '@' it must contain a domain.."
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  required
                />
              </div>

              <div class="col-12 shadow-lg p-3 mb-5 bg-white col-lg-6 form-group">
                <label for="password" class="control-label">
                  <strong>
                    Password <i class="fa fa-key fa-fw" aria-hidden="true"></i>
                  </strong><br>
                  <small>The password must contain eight (8) to thirty (30) characters, at least one number, an uppercase letter, 
                    lowercase letters and must not contain spaces or emoji.</small>
                </label>
                <input
                  type="password"
                  class="form-control border border-dark rounded"
                  name="password"
                  id="password"
                  placeholder="password"
                  data-minlength="8"
                  maxlength="30"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!|@|#|$|%|^|&|*|(|)|-|_]).{8,}"
                  title="The password must contain eight (8) to thirty (30) characters, at least one number, an uppercase letter, 
                  lowercase letters and must not contain spaces or emoji."
                  onkeydown="contaCaracteresSenha(this)"
                  onkeyup="contaCaracteresSenha(this)"
                  onclick="contaCaracteresSenha(this)"
                  required
                />
                <div>
                  <strong
                    ><p style="color: black;" id="divmagsenha">
                      30 characters remaining
                    </p></strong
                  >
                </div>
              </div>

              <div
                class="col-12 shadow-lg p-3 mb-5 bg-white col-lg-6 input-group col-md-4 f-left form-group"
              >
                <label for="password2" class="control-label">
                  <strong>Password confirmation
                    <i class="fa fa-key fa-fw" aria-hidden="true"></i>
                    </strong><br>
                  <small>The password must contain eight (8) to thirty (30) characters, at least one number, an uppercase letter, 
                    lowercase letters and must not contain spaces or emoji.</small>
                  </label>
                <input
                  type="password"
                  class="form-control border border-dark rounded"
                  name="password2"
                  id="password2"
                  placeholder="password confirmation"
                  data-component="password-strength"
                  data-monitor-id="password-strength-monitor"
                  data-minlength="8"
                  maxlength="30"
                  data-match="#password"
                  data-match-error="Atenção! As senhas não estão iguais."
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!|@|#|$|%|^|&|*|(|)|-|_]).{8,}"
                  title="The password must contain eight (8) to thirty (30) characters, at least one number, an uppercase letter, 
                  lowercase letters and must not contain spaces or emoji."
                  onkeydown="contaCaracteresConfSenha(this)"
                  onkeyup="contaCaracteresConfSenha(this)"
                  onclick="contaCaracteresConfSenha(this)"
                  required
                />
                <div>
                  <strong
                    ><p style="color: black;" id="divmagconfsenha">
                      30 characters remaining
                    </p></strong
                  >
                </div>
              </div>

              <div class="col-12 shadow-lg p-3 mb-5 bg-white border rounded">
                <h4 class="text-center">Phone and/or Cell Phone</h4>
              </div>

              <div class="col-6 shadow-lg p-3 mb-5 bg-white border rounded">
                <label for="phone">
                    <strong>Phone</strong>
                </label>
                <i class="fa fa-phone"></i> <small>(optional)</small>
                <input type="text" class="form-control phone-ddd-mask border border-dark rounded" 
                name="phone" id="phone" cols="30" rows="10" placeholder="(00) 0000-0000" value="(00) 0000-0000">
              </div>

              <div class="col-6 shadow-lg p-3 mb-5 bg-white border rounded">
                <label for="cell_phone">
                    <strong>Cell Phone</strong>
                </label>
                <i class="fa fa-mobile" aria-hidden="true"></i>
                <input type="text" class="form-control cel-sp-mask border border-dark rounded" 
                name="cell_phone" id="cell_phone" cols="30" rows="10" placeholder="(00) 00000-0000" required>
              </div><br><br>

              <div class="col-12 shadow-lg p-3 mb-5 bg-white border rounded">
                <h4 class="text-center">Address</h4>
              </div>

              <div class="col-6 shadow-lg p-3 mb-5 bg-white border rounded">
                <label for="zip_code">
                    <strong>Zip code</strong>
                </label>
                <i class="fa fa-address-card"></i>
                <input type="text" class="form-control border border-dark rounded" 
                name="zip_code" id="zip_code" cols="30" rows="10" placeholder="00000-000" required>
              </div>

              <div class="col-3 shadow-lg p-3 mb-5 bg-white border rounded">
                <label for="city">
                    <strong>City</strong>
                </label>
                <i class="fa fa-address-card"></i>
                <input type="text" class="form-control border border-dark rounded" 
                name="city" id="city" cols="30" rows="10" placeholder="city" required>
              </div>

              <div class="col-3 shadow-lg p-3 mb-5 bg-white border rounded">
                <label for="uf">
                    <strong>Uf</strong>
                </label>
                <i class="fa fa-address-card"></i>
                <input type="text" class="form-control border border-dark rounded" 
                name="uf" id="uf" cols="30" rows="10" placeholder="Uf" required>
              </div>


              <div class="col-12 shadow-lg p-3 mb-5 bg-white border rounded">
                <label for="address">
                    <strong>Address</strong>
                </label>
                <i class="fa fa-address-card"></i>
                <input type="text" class="form-control border border-dark rounded" 
                name="address" id="address" cols="30" rows="10" placeholder="address" required>
              </div>

              <div class="col-6 shadow-lg p-3 mb-5 bg-white border rounded">
                  <label for="district">
                      <strong>District</strong>
                  </label>
                  <i class="fa fa-address-card"></i>
                  <input type="text" class="form-control border border-dark rounded" 
                  name="district" id="district" cols="30" rows="10" placeholder="district" required>
              </div>

              <div class="col-3 shadow-lg p-3 mb-5 bg-white border rounded">
                  <label for="number">
                      <strong>Number</strong>
                  </label>
                  <i class="fa fa-address-card"></i>
                  <input type="text" class="form-control border border-dark rounded" 
                  name="number" id="number" cols="30" rows="10" placeholder="number" required>
              </div>

              <div class="col-3 shadow-lg p-3 mb-5 bg-white border rounded">
                  <label for="complement">
                      <strong>Complement</strong>
                  </label>
                  <i class="fa fa-address-card"></i> <small>(optional)</small>
                  <input type="text" class="form-control border border-dark rounded" 
                  name="complement" id="complement" cols="30" rows="10" placeholder="complement" value="not complement">
              </div>

              <div class="col-12 text-center form-group shadow-lg p-3 mb-5 bg-white">
                <button
                  class="btn btn-outline-primary border border-transparent rounded btn-block"
                  type="submit"
                >
                  Create your account<i class="fa fa-upload" aria-hidden="true"></i>
                </button>
                <br><br>

                <button
                  class="btn btn-outline-danger border border-transparentrounded btn-block"
                  type="button"
                  onclick="exibirLogin()"
                >
                  Already have an account? Click here
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

  function exibirLogin() {
    location.href = "{% url 'login' %}";
  }

  function exibirRegister() {
    location.href = "{% url 'home' %}";
  }

  function contaCaracteresUsuario(campo_passado) {
    var limite = 30;
    var campo = campo_passado.value.length;
    var maxlength = document
      .getElementById("username")
      .setAttribute("maxlength", limite);
    var conta = limite - campo;
    var divmag = document.getElementById("divmag");
    divmag.innerHTML = conta + " characters remaining";
  }

  function contaCaracteresSenha(campo_passado) {
    var limite = 30;
    var campo = campo_passado.value.length;
    var maxlength = document
      .getElementById("password")
      .setAttribute("maxlength", limite);
    var conta = limite - campo;
    var divmagsenha = document.getElementById("divmagsenha");
    divmagsenha.innerHTML = conta + " characters remaining";
  }

  function contaCaracteresConfSenha(campo_passado) {
    var limite = 30;
    var campo = campo_passado.value.length;
    var maxlength = document
      .getElementById("password2")
      .setAttribute("maxlength", limite);
    var conta = limite - campo;
    var divmagconfsenha = document.getElementById("divmagconfsenha");
    divmagconfsenha.innerHTML = conta + " characters remaining";
  }
</script>

<script type="text/javascript">
	$("#zip_code").focusout(function(){
		//Início do Comando AJAX
		$.ajax({
			//O campo URL diz o caminho de onde virá os dados
			//É importante concatenar o valor digitado no CEP
			url: 'https://viacep.com.br/ws/'+$(this).val()+'/json/unicode/',
			//Aqui você deve preencher o tipo de dados que será lido,
			//no caso, estamos lendo JSON.
			dataType: 'json',
			//SUCESS é referente a função que será executada caso
			//ele consiga ler a fonte de dados com sucesso.
			//O parâmetro dentro da função se refere ao nome da variável
			//que você vai dar para ler esse objeto.
			success: function(resposta){
				//Agora basta definir os valores que você deseja preencher
				//automaticamente nos campos acima.
				$("#address").val(resposta.logradouro);
				$("#district").val(resposta.bairro);
				$("#city").val(resposta.localidade);
				$("#uf").val(resposta.uf);
				//Vamos incluir para que o Número seja focado automaticamente
				//melhorando a experiência do usuário
				$("#number").focus();
			}
		});
	});
</script>
{% include 'partials/_footer.html' %}
{% endblock %}
